<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="header">
        {% if session.get('user') %}
            <button class="login-btn" onclick="location.href='/info'">내 정보</button>
        {% else %}
            <div>
                <button class="login-btn" onclick="location.href='/login'">로그인</button>
                <button class="login-btn" onclick="location.href='/signup'">회원가입</button>
            </div>
        {% endif %}
        <h1><a href="/" class="title">쇼핑몰</a></h1>
        {% block title %}{% endblock %}
    </div>

    {% block mid %}

    {% endblock %}

    {% block content %}{% endblock %}
</body>
</html>
