{% extends "base.html" %}

{% block title %}내 정보{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>내 정보</h2>
    <div class="profile-card">
        <div class="profile-info">
            <p><strong>아이디:</strong> {{ session['user'] }}</p>
            <button class="login-btn" onclick="location.href='/logout'">로그아웃</button>
        </div>
        <div class="profile-orders">
            <h3>주문 내역</h3>
            <ul>
                {% for i in orders %}
                    <li>주문한 상품:{{ i[1] }}, {{ i[0] }}개</li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}
