{% extends "base.html" %}

{% block title %}<div>상품 상세 페이지</div>{% endblock %}
{% block image %}

{% endblock %}
{% block content %}
<div class="product-detail">
    <img src="{{ location if location else '/static/image/images.jpg' }}" class="product-image">


    <div class="product-info">
        <h2>{{ name }}</h2>
        <p class="price">₩{{ price }}</p>
        <p class="desc">{{ desc }}</p>

        <div class="rating">
            <span>추천수: {{ recommend_count }}개</span>
        </div>

        {% if session.get('user') %}
            {% if id not in recommend_list %}
                <form action="/process" method="post" class="recommend-form">
                    <input type="hidden" name="id" value="{{ id }}">
                    <button type="submit" value="recommend" name="where">추천하기</button>
                </form>
            {% endif %}

            <form action="/process" method="post" class="order-form">
                <label for="count">수량</label>
                <input type="text" id="count" name="count">

                <input type="hidden" name="id" value="{{ id }}">

                <button type="submit" value="buy" name="where">주문하기</button>
            </form>
        {% endif %}

    </div>
</div>

<div class="comments">
    <h3>상품 리뷰</h3>
    {% if session.get('user') %}
    	<form class="comment-form" action="/process" method="post">
            <textarea rows="3" placeholder="리뷰를 작성하세요..." name="review" required></textarea>
            <input type="hidden" value="{{ id }}" name="id">
            <button type="submit" value="review" name="where">등록</button>
        </form>
    {% endif %}

    <ul class="comment-list">
        {% for review in reviews %}
            <li>
                <h3>{{ review[1] }}</h3>
                <span>{{ review[3] }}</span>
            </li>
        {% endfor %}
        
    </ul>
</div>
{% endblock %}
